#main_screen header {
  background-image: url(../../images/backgrounds/background.jpg);
  background-repeat: repeat-y;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: 'KoHo', sans-serif; }
  #main_screen header .left_header, #main_screen header .sign {
    padding-top: 20px; }
    #main_screen header .left_header nav ul, #main_screen header .sign nav ul {
      margin: 0;
      list-style: none; }
      #main_screen header .left_header nav ul .menu_links, #main_screen header .sign nav ul .menu_links {
        display: inline-block; }
        #main_screen header .left_header nav ul .menu_links a, #main_screen header .sign nav ul .menu_links a {
          color: #FFECE8;
          font-size: 20px;
          font-weight: 500;
          position: relative;
          -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          overflow: hidden;
          display: inline-block;
          padding: 5px 15px 5px 15px; }
          #main_screen header .left_header nav ul .menu_links a:before, #main_screen header .sign nav ul .menu_links a:before {
            content: '';
            position: absolute;
            background: #FFECE8;
            height: 100%;
            width: 1.5px;
            top: -100px;
            left: 0px;
            -webkit-transition: .2s ease-in-out;
            transition: .2s ease-in-out; }
          #main_screen header .left_header nav ul .menu_links a:after, #main_screen header .sign nav ul .menu_links a:after {
            content: '';
            position: absolute;
            background: #FFECE8;
            height: 1.5px;
            width: 100%;
            bottom: 0;
            left: -100px;
            -webkit-transition: .7s ease-in-out;
            transition: .7s ease-in-out; }
          #main_screen header .left_header nav ul .menu_links a:hover:before, #main_screen header .sign nav ul .menu_links a:hover:before {
            top: 0; }
          #main_screen header .left_header nav ul .menu_links a:hover:after, #main_screen header .sign nav ul .menu_links a:hover:after {
            left: 0; }
        #main_screen header .left_header nav ul .menu_links:nth-child(2) a:before, #main_screen header .sign nav ul .menu_links:nth-child(2) a:before {
          left: 0px; }
  #main_screen header .logo {
    text-align: center; }
    #main_screen header .logo .logo_img {
      display: inline-block;
      -webkit-transform: translateY(-26px);
          -ms-transform: translateY(-26px);
              transform: translateY(-26px); }
      #main_screen header .logo .logo_img img {
        width: 70px;
        height: 50px; }
    #main_screen header .logo .logo_text {
      display: inline-block; }
      #main_screen header .logo .logo_text p, #main_screen header .logo .logo_text span {
        display: inline-block;
        color: #fff;
        font-size: 31px;
        margin: 0;
        -webkit-transform: translateX(-30px);
            -ms-transform: translateX(-30px);
                transform: translateX(-30px); }
      #main_screen header .logo .logo_text span {
        font-size: 15px;
        -webkit-transform: translateY(-6px);
            -ms-transform: translateY(-6px);
                transform: translateY(-6px); }
  #main_screen header .sign nav ul {
    padding: 0;
    margin: 0; }
    #main_screen header .sign nav ul .menu_links {
      display: inline-block;
      margin-right: 5px; }
      #main_screen header .sign nav ul .menu_links a {
        padding: 5;
        font-size: 18px;
        color: #FFECE8; }
        #main_screen header .sign nav ul .menu_links a:before {
          left: 0px; }
        #main_screen header .sign nav ul .menu_links a:after {
          left: -300px; }
      #main_screen header .sign nav ul .menu_links:nth-child(2) a:before {
        left: 0px; }

#main_screen .bottom_line {
  overflow: hidden; }
  #main_screen .bottom_line .col-1, #main_screen .bottom_line .col-2, #main_screen .bottom_line .col-3, #main_screen .bottom_line .col-4 {
    width: 25%;
    display: inline-block;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    position: relative;
    min-height: 100px;
    float: left;
    padding-left: 60px; }
    #main_screen .bottom_line .col-1 p, #main_screen .bottom_line .col-2 p, #main_screen .bottom_line .col-3 p, #main_screen .bottom_line .col-4 p {
      margin: 0; }
    #main_screen .bottom_line .col-1 h4, #main_screen .bottom_line .col-2 h4, #main_screen .bottom_line .col-3 h4, #main_screen .bottom_line .col-4 h4 {
      font-family: 'KoHo', sans-serif;
      margin-bottom: 5px;
      margin-top: 20px;
      font-size: 18px;
      background: -webkit-gradient(linear, left top, left bottom, from(#474747), color-stop(#615a72), color-stop(#836c9c), color-stop(#ac7bc4), to(#dc88e8));
      background: linear-gradient(to bottom, #474747, #615a72, #836c9c, #ac7bc4, #dc88e8);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    #main_screen .bottom_line .col-1 p, #main_screen .bottom_line .col-2 p, #main_screen .bottom_line .col-3 p, #main_screen .bottom_line .col-4 p {
      font-family: 'KoHo', sans-serif;
      font-size: 14px;
      background: -webkit-linear-gradient(#ccc, #333);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    #main_screen .bottom_line .col-1 span, #main_screen .bottom_line .col-2 span, #main_screen .bottom_line .col-3 span, #main_screen .bottom_line .col-4 span {
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      background: white;
      right: 0px;
      bottom: -1px; }
  #main_screen .bottom_line .col-1 {
    display: table; }
    #main_screen .bottom_line .col-1 h4 {
      display: table-cell;
      vertical-align: middle; }
  #main_screen .bottom_line .col-4 {
    border-right: 0; }
    #main_screen .bottom_line .col-4 h4 {
      position: relative;
      display: inline-block; }
      #main_screen .bottom_line .col-4 h4 .star {
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        top: 0px;
        right: -10px;
        background: red;
        -webkit-border-radius: 50%;
                border-radius: 50%; }

#main_screen #main, #main_screen .no_event {
  padding-top: 30px;
  background: #fef9ff; }
  #main_screen #main .main-title, #main_screen .no_event .main-title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'KoHo', sans-serif;
    font-size: 34px;
    background: -webkit-gradient(linear, left top, left bottom, from(#474747), color-stop(#615a72), color-stop(#836c9c), color-stop(#ac7bc4), to(#dc88e8));
    background: linear-gradient(to bottom, #474747, #615a72, #836c9c, #ac7bc4, #dc88e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px; }
    #main_screen #main .main-title span, #main_screen .no_event .main-title span {
      display: inline-block;
      position: relative; }
      #main_screen #main .main-title span img, #main_screen .no_event .main-title span img {
        width: 40px;
        height: 40px;
        position: relative; }
      #main_screen #main .main-title span:after, #main_screen .no_event .main-title span:after {
        content: '';
        display: block;
        width: 90px;
        height: 2px;
        position: absolute;
        background: -webkit-gradient(linear, left top, left bottom, from(#474747), color-stop(#615a72), color-stop(#836c9c), color-stop(#ac7bc4), to(#dc88e8));
        background: linear-gradient(to bottom, #474747, #615a72, #836c9c, #ac7bc4, #dc88e8);
        top: 60%;
        margin-left: 60px; }
      #main_screen #main .main-title span:before, #main_screen .no_event .main-title span:before {
        content: '';
        display: block;
        width: 90px;
        height: 2px;
        position: absolute;
        background: -webkit-gradient(linear, left top, left bottom, from(#474747), color-stop(#615a72), color-stop(#836c9c), color-stop(#ac7bc4), to(#dc88e8));
        background: linear-gradient(to bottom, #474747, #615a72, #836c9c, #ac7bc4, #dc88e8);
        top: 60%;
        margin-left: -107px; }
  #main_screen #main .content, #main_screen .no_event .content {
    margin-top: 80px;
    height: 350px;
    margin-bottom: 120px; }
    #main_screen #main .content .left_side_content, #main_screen .no_event .content .left_side_content {
      float: left;
      display: inline-block;
      width: 50%;
      height: 100%;
      position: relative; }
      #main_screen #main .content .left_side_content img, #main_screen .no_event .content .left_side_content img {
        width: 100%;
        height: 100%; }
      #main_screen #main .content .left_side_content .join_button button, #main_screen .no_event .content .left_side_content .join_button button {
        position: absolute;
        width: 125px;
        height: 40px;
        bottom: 20px;
        right: 20px;
        border: 0;
        background: rgba(0, 0, 0, 0.7);
        color: #fbe9d2;
        font-size: 16px;
        font-family: 'KoHo', sans-serif;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out; }
        #main_screen #main .content .left_side_content .join_button button:hover, #main_screen .no_event .content .left_side_content .join_button button:hover {
          background-image: -webkit-gradient(linear, left top, left bottom, from(#135179), color-stop(#424c89), color-stop(#763e85), color-stop(#a1246a), to(#b7103e));
          background-image: linear-gradient(to bottom, #135179, #424c89, #763e85, #a1246a, #b7103e);
          -webkit-transition: .5s ease-in-out;
          transition: .5s ease-in-out; }
    #main_screen #main .content .right_side_content, #main_screen .no_event .content .right_side_content {
      display: inline-block;
      width: 50%;
      border-right: 1px solid #aaa;
      height: 100%;
      padding: 0 20px 20px 20px; }
      #main_screen #main .content .right_side_content .right_side_content_title, #main_screen .no_event .content .right_side_content .right_side_content_title {
        margin: 0;
        font-family: 'KoHo', sans-serif;
        font-size: 18px;
        color: #31033f;
        text-transform: uppercase; }
      #main_screen #main .content .right_side_content .right_side_content_descr, #main_screen .no_event .content .right_side_content .right_side_content_descr {
        font-family: 'KoHo', sans-serif;
        font-size: 14px;
        color: #919191;
        position: relative; }
        #main_screen #main .content .right_side_content .right_side_content_descr:after, #main_screen .no_event .content .right_side_content .right_side_content_descr:after {
          content: '';
          display: block;
          width: 200px;
          height: 1px;
          position: absolute;
          bottom: -10px;
          left: 0;
          background: #aaa; }
      #main_screen #main .content .right_side_content .gathared_money, #main_screen #main .content .right_side_content .goal_money, #main_screen #main .content .right_side_content .free_space, #main_screen .no_event .content .right_side_content .gathared_money, #main_screen .no_event .content .right_side_content .goal_money, #main_screen .no_event .content .right_side_content .free_space {
        margin-top: 20px;
        padding-right: 10px;
        font-size: 14px;
        font-family: 'KoHo', sans-serif;
        color: #aaa;
        border-right: 1px solid #aaa;
        display: inline-block; }
      #main_screen #main .content .right_side_content .free_space, #main_screen .no_event .content .right_side_content .free_space {
        margin-left: 20px; }
      #main_screen #main .content .right_side_content .goal_money, #main_screen .no_event .content .right_side_content .goal_money {
        margin-left: 20px;
        border: 0; }
      #main_screen #main .content .right_side_content .author, #main_screen .no_event .content .right_side_content .author {
        color: #aaa;
        font-size: 14px;
        font-family: 'KoHo', sans-serif; }
      #main_screen #main .content .right_side_content .more_inf, #main_screen .no_event .content .right_side_content .more_inf {
        display: inline-block;
        position: relative;
        z-index: 100;
        background: transparent;
        float: right;
        text-align: center;
        z-index: 10; }
        #main_screen #main .content .right_side_content .more_inf a, #main_screen .no_event .content .right_side_content .more_inf a {
          color: #fff;
          background: -webkit-gradient(linear, left top, left bottom, from(#043d5a), color-stop(#2a3e6c), color-stop(#543a72), color-stop(#7c3068), to(#9a2550));
          background: linear-gradient(to bottom, #043d5a, #2a3e6c, #543a72, #7c3068, #9a2550);
          font-family: 'KoHo', sans-serif;
          font-size: 18px;
          display: inline-block;
          position: relative;
          z-index: 100;
          -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          padding: 12px 30px; }
        #main_screen #main .content .right_side_content .more_inf:before, #main_screen .no_event .content .right_side_content .more_inf:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: #9A2550;
          right: 0;
          bottom: 0;
          z-index: 1;
          -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out; }
        #main_screen #main .content .right_side_content .more_inf:after, #main_screen .no_event .content .right_side_content .more_inf:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: #043D5A;
          top: 0;
          left: 0;
          z-index: 1;
          -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out; }
        #main_screen #main .content .right_side_content .more_inf:hover a, #main_screen .no_event .content .right_side_content .more_inf:hover a {
          background: #fff;
          color: #aaa;
          border: 1px solid #000; }
        #main_screen #main .content .right_side_content .more_inf:hover:before, #main_screen .no_event .content .right_side_content .more_inf:hover:before {
          right: -8px;
          bottom: -8px; }
        #main_screen #main .content .right_side_content .more_inf:hover:after, #main_screen .no_event .content .right_side_content .more_inf:hover:after {
          top: -8px;
          left: -8px; }
    #main_screen #main .content:nth-child(even) .left_side_content, #main_screen .no_event .content:nth-child(even) .left_side_content {
      float: right; }
  #main_screen #main .separator, #main_screen .no_event .separator {
    text-align: center;
    margin-top: 42px;
    position: relative; }
    #main_screen #main .separator img, #main_screen .no_event .separator img {
      width: 30px;
      height: 30px; }
    #main_screen #main .separator:after, #main_screen #main .separator:before, #main_screen .no_event .separator:after, #main_screen .no_event .separator:before {
      content: '';
      position: absolute;
      width: 300px;
      height: 1px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#474747), color-stop(#615a72), color-stop(#836c9c), color-stop(#ac7bc4), to(#dc88e8));
      background-image: linear-gradient(to bottom, #474747, #615a72, #836c9c, #ac7bc4, #dc88e8);
      top: 50%;
      left: 0; }
    #main_screen #main .separator:before, #main_screen .no_event .separator:before {
      left: unset;
      right: 0px; }

footer {
  padding-top: 20px;
  background-image: url(../../images/backgrounds/background.jpg);
  font-size: 14px;
  font-family: "Roboto-Regular";
  color: #fbe9d2; }
  footer .logo {
    text-align: center; }
    footer .logo .logo_img {
      display: inline-block;
      -webkit-transform: translateY(-26px);
          -ms-transform: translateY(-26px);
              transform: translateY(-26px); }
      footer .logo .logo_img img {
        width: 70px;
        height: 50px; }
    footer .logo .logo_text {
      display: inline-block; }
      footer .logo .logo_text p, footer .logo .logo_text span {
        display: inline-block;
        color: #fff;
        font-size: 31px;
        margin: 0;
        -webkit-transform: translateX(-30px);
            -ms-transform: translateX(-30px);
                transform: translateX(-30px); }
      footer .logo .logo_text span {
        font-size: 15px;
        -webkit-transform: translateY(-6px);
            -ms-transform: translateY(-6px);
                transform: translateY(-6px); }
  footer .country img {
    width: 20px;
    height: 10px;
    vertical-align: middle; }
  footer .contact p {
    margin: 0;
    margin-bottom: 5px; }
  footer .contact2 p {
    margin: 0; }
  footer .contact2 img {
    margin-right: 10px;
    margin-top: 10px;
    width: 32px;
    height: 32px; }
